# ==========================================
# CONFIGURACION DE LA BASE DE DATOS (POSTGRESQL)
# ==========================================

# Nombre de usuario administrador de la base de datos
POSTGRES_USER=roguelike_user

# Contraseña del usuario de la base de datos
POSTGRES_PASSWORD=roguelike_password_secutity

# Nombre de la base de datos principal
POSTGRES_DB=roguelike_db

# Puerto expuesto en tu maquina local (host) para conectar la BD
POSTGRES_PORT=5432