# Puerto en el que se ejecutará el servidor Express
PORT=3000

# Configuración de conexión a PostgreSQL
DB_USER=roguelike_user
DB_PASSWORD=roguelike_password_secutity
DB_HOST=database
DB_PORT=5432
DB_NAME=roguelike_db

# Clave secreta para la firma y verificación de JSON Web Tokens (JWT)
JWT_SECRET=super_secret_jwt_key_roguelike_2026

# Tiempo de expiración de los tokens creados
JWT_EXPIRES_IN=24h